.body {
  background-color: #F2EDDB;
  font-family: montserrat;

}
*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
nav{
background: #7F9280;
height: 70px;
width: 100%;

}
.logoIMG{
padding-left: 20px;
padding-top: 15px;
padding-bottom: 10px;
}
label.logo{
color: white;
font-size: 30px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
padding-left: 10px;
position: absolute;
cursor: pointer;
}

button {
  --c:  #9EB99F; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.b1 {
  font-family: system-ui, sans-serif;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
  position: absolute;
  right: 10px;
  margin-right: 190px;
  margin-top: 25px;
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.b2 {
  font-family: system-ui, sans-serif;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
  position: absolute;
  right: 10px;
  margin-right: 80px;
  margin-top: 25px;
  max-height: 100vh;
}
.hero-image {
  text-align: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  max-height: 100vh;
}
.H_Homepage{
  font-family: 'EB Garamond';font-size: 22px; 
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;

}
.container {
  margin-top: 20px;
}

.custom-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.custom-container img {
  width: 100%;
  height: auto;
}

.custom-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #F2EDDB;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
