* {
  margin: 0;
  font-family: "futura md bt";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  top: 30px;
}
.body{
  background-color: #F2EDDB;
  overflow-x: hidden;
  }
.body.html{
    width: 100%;
    height: 100%;
  }
header {
  background: #7F9280;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
header > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }
.logo {
  font-size: 30px;
  color: #F2EDDB;
  text-transform: uppercase;
  text-decoration: none;
  
}
.cvsulogo{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  margin-right: 10px;
  margin-left: -20px;
}
header nav ul {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  margin-top: 20px;
  

}
header nav ul li a {
  display: inline-block;
  align-items: center;
  background-color: #485653;
  border: 0 solid #485653;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
  

 }
 header nav ul li a:hover,
header nav ul li a.active {
  background-color: #485653;
  color: #fff;
}
 header nav ul li a:after {
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
 }
 
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #000;
}
@media only screen and (max-width: 900px) {
  header {
      padding: 0 30px;
  }
}
@media only screen and (max-width: 700px) {
  .custom-container {
    top: 110px;
  }
  .H_Homepage{
    top: 140px;

  }

  .logo {
    font-size: 16px;
  }
  .hamburger {
      display: block;
  }
  .hero-image{
    display: none;
  }
  header nav {
    background-color: #7F9280;
      position: absolute;
      width: 100%;
      height: 15%;
      right: -100%;
      top: 60px;
      padding: 15px;
      transition: 0.4s;
      font-size: -50px;
      justify-content: center;
      align-items: center;
      display: flex;
  }
  header #nav_check:checked ~ nav {
      right: 0;
  }
  header nav ul {
      display: block;
      margin-top: -1px; 
  }
  header nav ul li a {
      margin: 5px 0;
  }
}
@media (min-width: 768px) {
  header nav ul li a {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
  }
 }
button {
  --c:  #9EB99F;
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.hero-image {
  text-align: center;
  position: relative;
  top: -60px;
  padding: 0%;
  margin: 0%;

}
.hero-image img {
  width: 100%;
  height: auto; 
  max-height: 100vh;
  margin-top: -10px;
}
.H_Homepage{
  font-family: 'EB Garamond';font-size: 22px; 
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  position: relative;
  margin-top: -90px;

}
.container {
  margin-top: 20px;
}

.custom-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.custom-container img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.custom-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #F2EDDB;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
main {
  margin-top: 70px;
 }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 150px

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}