* {
  margin: 0;
  font-family: "futura md bt";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  top: 30px;
}
.body{
  background-color: #F2EDDB;
  overflow-x: hidden;
  }
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
:root{
    --white: #f9f9f9;
    --black: #7F9280;
    --gray: #8ebd89;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    display: flex;
    align-items: center; /* Aligns items along the cross axis (vertically in this case) */
    justify-content: space-between; /* Distributes items evenly in the container */
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}
/* Logo */
.logo{
    margin-right: auto;
    color: var(--white);
    font-size: 30px;
    margin-left: -5px;
    letter-spacing: 2px;
}
.logo:active, .logo:hover {
  color: #8ebd89;
}
.cvsulogo{
  width: 100px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -13px;
  margin-right: 10px;
  margin-left: 30px;

}
button {
  --c:  #9EB99F;
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
    font-size: large;
    
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
    margin-top: 30px;
    
    
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    margin-top: -58px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
    
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsiveness */
@media only screen and (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        margin-top: -10px;
    }
  
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }


    .hamb{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
  
  .custom-container {
    top: 110px;
  }
  .H_Homepage{
    top: 140px;

  }

  .heroImage video {
    display: none;
  }
  .logo{
    font-size: 17px;
    letter-spacing: 1px;

  }
  .cvsulogo{
    width: 80px;
    margin-left: 0%;
  }
  .nav {
    flex-direction: column;
    justify-content: top;
    
}


}
.H_Homepage{
  font-family: 'EB Garamond';font-size: 22px; 
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  position: relative;
  margin-top: -90px;

}
.container {
  margin-top: 20px;
}
.heroImage {
  text-align: center;
  position: relative;
  top: -60px;
  padding: 0%;
  margin: 0%;

}
.heroImage video {
  width: 100%;
  height: auto; 
  max-height: 100vh;
  margin-top: -10px;
}

.custom-container {
  position: relative;
  text-align: center; /* Center the content */
  margin-bottom: 20px; /* Space below the container */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  width: 100%; /* Adjust if you have a specific width in mind */
  height: auto; /* Adjust based on the content or set a specific height */
}

.custom-container video {
  width: 100%; /* Makes the video fill the container */
  height: auto; /* Maintains the video's aspect ratio */
  border-radius: 10%; /* Matches the border-radius from your selection */
}
.custom-container img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}


.custom-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #F2EDDB;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
main {
  margin-top: 70px;
 }

 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

 .footer {
   position: relative;
   width: 100%;
   background: #485653;
   min-height: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 250px;
 }
 
 .social-icon,
 .menu {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
 }
 
 .social-icon__item,
 .menu__item {
   list-style: none;
 }
 
 .social-icon__link {
   font-size: 2rem;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
 }
 .social-icon__link:hover {
   transform: translateY(-10px);
 }
 
 .menu__link {
   font-size: 1.2rem;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
   text-decoration: none;
   opacity: 0.75;
   font-weight: 300;
 }
 
 .menu__link:hover {
   opacity: 1;
 }
 
 .footer p {
   color: #fff;
   margin: 15px 0 10px 0;
   font-size: 1rem;
   font-weight: 300;
 }
 
 .wave {
   position: absolute;
   top: -100px;
   left: 0;
   width: 100%;
   height: 100px;
   background: url("https://i.ibb.co/K5pQy20/wave.png");
   background-size: 1000px 100px;
 }
 
 .wave#wave1 {
   z-index: 1000;
   opacity: 1;
   bottom: 0;
   animation: animateWaves 4s linear infinite;
 }
 
 .wave#wave2 {
   z-index: 999;
   opacity: 0.5;
   bottom: 10px;
   animation: animate 4s linear infinite !important;
 }
 
 .wave#wave3 {
   z-index: 1000;
   opacity: 0.2;
   bottom: 15px;
   animation: animateWaves 3s linear infinite;
 }
 
 .wave#wave4 {
   z-index: 999;
   opacity: 0.7;
   bottom: 20px;
   animation: animate 3s linear infinite;
 }
 
 @keyframes animateWaves {
   0% {
     background-position-x: 1000px;
   }
   100% {
     background-positon-x: 0px;
   }
 }
 
 @keyframes animate {
   0% {
     background-position-x: -1000px;
   }
   100% {
     background-positon-x: 0px;
   }
 }

 