* {
  margin: 0;
  font-family: "futura md bt";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  top: 30px;
}
.body{
  background-color: #F2EDDB;
  overflow-x: hidden;
  }
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
:root{
    --white: #f9f9f9;
    --black: #7F9280;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    display: flex;
    align-items: center; /* Aligns items along the cross axis (vertically in this case) */
    justify-content: space-between; /* Distributes items evenly in the container */
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}
/* Logo */
.logo{
    margin-right: auto;
    color: var(--white);
    font-size: 30px;
    margin-left: -5px;
    letter-spacing: 2px;
    
  
}
.cvsulogo{
  width: 100px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -13px;
  margin-right: 10px;
  margin-left: 30px;

}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
    font-size: large;
    
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
    margin-top: 30px;
    
    
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    margin-top: -58px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
    
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsiveness */
@media only screen and (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        margin-top: -10px;
    }
  
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }


    .hamb{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
  
  .custom-container {
    top: 110px;
  }
  .H_Homepage{
    top: 140px;

  }

  .heroImage video {
    display: none;
  }
  .logo{
    font-size: 17px;
    letter-spacing: 1px;

  }
  .cvsulogo{
    width: 80px;
    margin-left: 0%;
  }
  .nav {
    flex-direction: column;
    justify-content: top;
    
}


}
  /*STYLE NG lounge*/
  .S_Lounges {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 34px;
    letter-spacing: -1px;
    word-spacing: 3.2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
   }
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

   .slider{
     position: relative;
     width: 1000px; /* Increased width */
     min-height: 650px; /* Increased height */
     margin: 20px;
     overflow: hidden;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-between; /* This will push the navigation to the bottom */
     position: relative;
     margin: 20px auto; /* Center the slider horizontally */
   
   }
   
   .slider .slide{
     position: absolute;
     width: 100%;
     height: 100%;
     clip-path: circle(0% at 0 50%);
   }
   
   .slider .slide.active{
     clip-path: circle(150% at 0 50%);
     transition: 2s;
   }
   
   .slider .slide img {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: contain;
     object-position: center;
     margin-top: -60px;
   }
   
   .slider .slide .info{
     position: absolute;
     color: #222;
     background: rgba(255, 255, 255, 0.3);
     width: 75%;
     margin-top: 50px;
     margin-left: 50px;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
   }
   
   .slider .slide .info h2{
     font-size: 2em;
     font-weight: 800;
   }
   
   .slider .slide .info p{
     font-size: 1em;
     font-weight: 400;
   }
   
   .navigation{
     height: 500px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     opacity: 0;
     transition: opacity 0.5s ease;
   }
   
   .slider:hover .navigation{
     opacity: 1;
   }
   
   .prev-btn, .next-btn{
     z-index: 999;
     font-size: 2em;
     color: #485653;
     background: rgba(255, 255, 255, 0.8);
     padding: 10px;
     cursor: pointer;
   }
   
   .prev-btn{
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
   }
   
   .next-btn{
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
   }
   
   .navigation-visibility {
     z-index: 999;
     display: flex;
     justify-content: center; /* Center horizontally */
     align-self: center; /* Ensure it's centered in the flex container if needed */
     margin-bottom: 50px; /* Adjust the distance from the bottom as needed */
   }
   
   .navigation-visibility .slide-icon{
     z-index: 999;
     background: rgba(255, 255, 255, 0.5);
     width: 20px;
     height: 10px;
     transform: translateY(-50px);
     margin: 0 6px;
     border-radius: 2px;
     box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
   }
   
   .navigation-visibility .slide-icon.active{
     background: #485653;
   
   }
   
   @media (max-width: 900px){
     .slider{
       width: 100%;
     }
   
     .slider .slide .info{
       position: relative;
       width: 80%;
       margin-left: auto;
       margin-right: auto;
     }
   }
   
   @media (max-width: 500px){
     .slider .slide .info h2{
       font-size: 1.8em;
       line-height: 40px;
     }
   
     .slider .slide .info p{
       font-size: 0.9em;
     }
   }
   
   
  
  @media only screen and (max-width: 768px) {
    .responsive {
      flex: 0 0 100%; /* Full width for smaller screens */
    }
    .S_Lounges
    {
     padding-bottom: -10px;
     padding-top: 80px;
    }
  }
  main {
    margin-top: 70px;
   }
   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

   .footer {
     position: relative;
     width: 100%;
     background: #485653;
     min-height: 100px;
     padding: 20px 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 300px;

   }
   
   .social-icon,
   .menu {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px 0;
     flex-wrap: wrap;
   }
   
   .social-icon__item,
   .menu__item {
     list-style: none;
   }
   
   .social-icon__link {
     font-size: 2rem;
     color: #fff;
     margin: 0 10px;
     display: inline-block;
     transition: 0.5s;
   }
   .social-icon__link:hover {
     transform: translateY(-10px);
   }
   
   .menu__link {
     font-size: 1.2rem;
     color: #fff;
     margin: 0 10px;
     display: inline-block;
     transition: 0.5s;
     text-decoration: none;
     opacity: 0.75;
     font-weight: 300;
   }
   
   .menu__link:hover {
     opacity: 1;
   }
   
   .footer p {
     color: #fff;
     margin: 15px 0 10px 0;
     font-size: 1rem;
     font-weight: 300;
   }
   
   .wave {
     position: absolute;
     top: -100px;
     left: 0;
     width: 100%;
     height: 100px;
     background: url("https://i.ibb.co/K5pQy20/wave.png");
     background-size: 1000px 100px;
   }
   
   .wave#wave1 {
     z-index: 1000;
     opacity: 1;
     bottom: 0;
     animation: animateWaves 4s linear infinite;
   }
   
   .wave#wave2 {
     z-index: 999;
     opacity: 0.5;
     bottom: 10px;
     animation: animate 4s linear infinite !important;
   }
   
   .wave#wave3 {
     z-index: 1000;
     opacity: 0.2;
     bottom: 15px;
     animation: animateWaves 3s linear infinite;
   }
   
   .wave#wave4 {
     z-index: 999;
     opacity: 0.7;
     bottom: 20px;
     animation: animate 3s linear infinite;
   }
   
   @keyframes animateWaves {
     0% {
       background-position-x: 1000px;
     }
     100% {
       background-positon-x: 0px;
     }
   }
   
   @keyframes animate {
     0% {
       background-position-x: -1000px;
     }
     100% {
       background-positon-x: 0px;
     }
   }