* {
  margin: 0;
  font-family: "futura md bt";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  top: 30px;
}
.body{
  background-color: #F2EDDB;
  overflow-x: hidden;
  }
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
:root{
    --white: #f9f9f9;
    --black: #7F9280;
    --gray: #8ebd89;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    display: flex;
    align-items: center; /* Aligns items along the cross axis (vertically in this case) */
    justify-content: space-between; /* Distributes items evenly in the container */
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}
/* Logo */
.logo{
    margin-right: auto;
    color: var(--white);
    font-size: 30px;
    margin-left: -5px;
    letter-spacing: 2px;
}
.logo:active, .logo:hover {
  color: #8ebd89;
}
.cvsulogo{
  width: 100px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -13px;
  margin-right: 10px;
  margin-left: 30px;

}
.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
    font-size: large;
    
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
    margin-top: 30px;
    
    
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    margin-top: -58px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
    
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsiveness */
@media only screen and (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        margin-top: -10px;
    }
  
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }


    .hamb{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
  
  .custom-container {
    top: 110px;
  }
  .H_Homepage{
    top: 140px;

  }

  .heroImage video {
    display: none;
  }
  .logo{
    font-size: 17px;
    letter-spacing: 1px;

  }
  .cvsulogo{
    width: 80px;
    margin-left: 0%;
  }
  .nav {
    flex-direction: column;
    justify-content: top;
    
}


}
  /*STYLE NG Our team*/
  .T_Team{
    margin-left: 40px;
    margin-top: 50px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
  }
  .demo{
    width: 1000px;
    height: auto; 
    margin-left: 80px;

}
.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team {
  display: flex;
  flex-direction: column;
  align-items: center; /* This ensures that the content is centered */
  width: 100%; /* Adjust this as needed */
}

.team_img, .team-content {
  width: 100%; /* This makes both elements take the full width of their parent */
}

.team_img img {
  width: 100%; /* Ensures the image takes the full width of its parent */
  height: auto; /* Keeps the image aspect ratio */
  object-fit: cover; /* Adjusts the image to cover the area, you can change this as needed */
}
.our-team .team_img{
    position: relative;
    overflow: hidden;
}
.our-team .team_img:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.team_img {
  position: relative;
}

.team_img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.team-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically */
  text-align: center; /* Ensures text within the content is centered */
  width: 100%; /* Adjust this as needed */
}

.team_img:hover .overlay {
  opacity: 1;
}
.our-team:hover .team_img:after{
    bottom: 0;
}
.our-team img{
    width: 100%;
    height: auto;
}
.our-team .social{
    padding: 0 0 18px 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: -100%;
    right: 10px;
    background: #f76c5e;
    border-radius: 0 0 20px 20px;z-index: 1;
    transition: all 0.3s ease 0s;
}
.our-team:hover .social{
    top: 0;
}
.our-team .social li a{
    display: block;
    padding: 15px;
    font-size: 15px;
    color: #fff;
}
.our-team:hover .social li a:hover{
    color: #2a4284;
}
.our-team .team-content{
    padding: 20px 0;
    background: #fff;
}
.our-team .title{
    font-size: 18px;
    font-weight: bold;
    color: #2a4284;
    text-transform: capitalize;
    margin: 0 0 20px;
    position: relative;
}
.our-team .title:before{
    content: "";
    width: 25px;
    height: 1px;
    background: #27ae61;
    position: absolute;
    bottom: -10px;
    right: 50%;
    margin-right: 9px;
    transition-duration: 0.25s;
}
.our-team .title:after{
    content: "";
    width: 25px;
    height: 1px;
    background: #27ae61;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 9px;
    transition-duration: 0.25s;
}
.our-team:hover .title:before,
.our-team:hover .title:after{
    width: 50px;
}
.our-team .post{
    display: inline-block;
    font-size: 15px;
    color:  #f76c5e;
    text-transform: capitalize;
}
  p{
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 15px;
  }
  .row{
    display: flex;
    margin-right: 50px;
    
  }
  .col-md-4 {
    flex: 0 0 25%; 
    max-width: 25%; 
}
.our-team .post:before{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    align-items: center;
    background: #27ae61;
    margin: 0 auto;
    position: relative;
    top: -13px;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
@media only screen and (max-width: 760px){
    .our-team{ margin-bottom: 30px; }
    .demo{
        height: auto;
        width: 300px;
        display: flex; 
        align-items: center; 
        justify-content: center; 

    }
    .T_Team{
      margin-left: 40px;
      margin-top: 150px;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 26px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #000000;
      font-weight: 700;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: capitalize;
    }

    /* For screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .demo .row > div {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

/* For screens larger than 768px */
@media only screen and (min-width: 769px) {
  .demo .row > div {
      flex: 0 0 50%;
      max-width: 50%;
  }
}
}

  main {
    margin-top: 70px;
   }
  
   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

   .footer {
     position: relative;
     width: 100%;
     background: #485653;
     min-height: 100px;
     padding: 20px 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 250px;
   }
   
   .social-icon,
   .menu {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px 0;
     flex-wrap: wrap;
   }
   
   .social-icon__item,
   .menu__item {
     list-style: none;
   }
   
   .social-icon__link {
     font-size: 2rem;
     color: #fff;
     margin: 0 10px;
     display: inline-block;
     transition: 0.5s;
   }
   .social-icon__link:hover {
     transform: translateY(-10px);
   }
   
   .menu__link {
     font-size: 1.2rem;
     color: #fff;
     margin: 0 10px;
     display: inline-block;
     transition: 0.5s;
     text-decoration: none;
     opacity: 0.75;
     font-weight: 300;
   }
   
   .menu__link:hover {
     opacity: 1;
   }
   
   .footer p {
     color: #fff;
     margin: 15px 0 10px 0;
     font-size: 1rem;
     font-weight: 300;
   }
   
   .wave {
     position: absolute;
     top: -100px;
     left: 0;
     width: 100%;
     height: 100px;
     background: url("https://i.ibb.co/K5pQy20/wave.png");
     background-size: 1000px 100px;
   }
   
   .wave#wave1 {
     z-index: 1000;
     opacity: 1;
     bottom: 0;
     animation: animateWaves 4s linear infinite;
   }
   
   .wave#wave2 {
     z-index: 999;
     opacity: 0.5;
     bottom: 10px;
     animation: animate 4s linear infinite !important;
   }
   
   .wave#wave3 {
     z-index: 1000;
     opacity: 0.2;
     bottom: 15px;
     animation: animateWaves 3s linear infinite;
   }
   
   .wave#wave4 {
     z-index: 999;
     opacity: 0.7;
     bottom: 20px;
     animation: animate 3s linear infinite;
   }
   
   @keyframes animateWaves {
     0% {
       background-position-x: 1000px;
     }
     100% {
       background-positon-x: 0px;
     }
   }
   
   @keyframes animate {
     0% {
       background-position-x: -1000px;
     }
     100% {
       background-positon-x: 0px;
     }
   }
